<div class="container margin-top-20">
	<div>
    	 <%= link_to(tracks_path, :method => :get, class: "btn btn-info") do %>
            <span class="glyphicon glyphicon-menu-left"></span>
			Back
        <%end%>
	</div>

	<div id="song-container">
		<!--One Song-->
		<% @tracks_saved.each do |track| %>
		<div class="row margin-top-20 one-song">
			<div class="col-sm-3">
				<%= image_tag track["track"]["album"]["images"].first["url"], class: "img-responsive img-track" %>
			</div>
			<div class="col-sm-9">
				<h2><%= track["track"]["name"] %></h2>
				<p>
					<%= track["track"]["artists"].first["name"] %>
				</p>
				<p>
					Album: <%= track["track"]["album"]["name"] %>
				</p>
				<div class="margin-top-20">
					<audio controls>
						<source src="<%= track['track']['preview_url'] %>" type="audio/mpeg">
					</audio>
				</div>
				<div class="margin-top-20">
					<%= link_to(track_path(track["track"]["id"]), :method => :delete, class: "btn btn-danger btn-sm") do %>
                        <span class="glyphicon glyphicon-remove margin-right-5"></span>
            			Remove Track
                    <%end%>
				</div>
			</div>
		</div>
		<%end%>
		<!--/One Song-->
	</div>
</div>
